/target
/vendor/*
!/vendor/ER-Save-Lib
!/vendor/SoulsFormatsNEXT
!/vendor/UXM-Selective-Unpack
/libs/ER-Save-Lib
Cargo.lock
# pixi environments
.pixi
pixi.lock
yarn.lock

__pycache__
**/assets/*.out.json
**/assets/*.in.rs

.fake
/logs

/config.toml
/tmp
