[submodule "vendor/ER-Save-Lib"]
	path = vendor/ER-Save-Lib
	url = https://github.com/ClayAmore/ER-Save-Lib
[submodule "vendor/SoulsFormatsNEXT"]
	path = vendor/SoulsFormatsNEXT
	url = https://github.com/soulsmods/SoulsFormatsNEXT
[submodule "vendor/UXM-Selective-Unpack"]
	path = vendor/UXM-Selective-Unpack
	url = https://github.com/Nordgaren/UXM-Selective-Unpack
[submodule "vendor/pythonnet-stub-generator"]
	path = vendor/pythonnet-stub-generator
	# url = https://github.com/MHDante/pythonnet-stub-generator
	# see https://github.com/MHDante/pythonnet-stub-generator/pull/14
	url = https://github.com/clouds56-contrib/pythonnet-stub-generator
[submodule "vendor/WitchyBND"]
	path = vendor/WitchyBND
	url = https://github.com/ividyon/WitchyBND.git
